nav {
  padding: 25px;
  background-color: #11368d;
}

ul {
  display: block;
}

li {
  display: inline;
  margin: 10px
}

li, h1 {
  display: inline;
  font-family: sans-serif;
  font-weight: bold;
}

a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: lightslategray;
}